extends base

block content
    main.main
        .error
            .error__title
                h2.heading-secondary Confirmation was successful.
                    
            a.btn.btn--green(href="http://127.0.0.1:3000/") Click to go back
          
