extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Change your password
            form.form.form--resetPassword
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', name='password')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8', name='passwordConfirm')
                .form__group
                    button.btn.btn--green(id ='reset-password-btn') Update
                .form__group
                    input#token.form__input(type='hidden', name='token', value=`${token}`)
                    